*, :after, :before {
    box-sizing: border-box;
    background-color: inherit;
    font-family: inherit;
    color: inherit;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
}

:root {
    font-weight: 400;
    font-feature-settings: "kern" 1;
}
