*, :after, :before {
    box-sizing: border-box;
    background-color: inherit;
    font-family: inherit;
    color: inherit;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
}

:root {
    --font-article: "Graphik", sans-serif;
    font-feature-settings: normal;
    letter-spacing: -0.01em;
    line-break: auto;
    line-height: 1.5;
    /* TODO: make this more mobile friendly, something like calc(1.1em + 0.333vw) */
    font-size: 0.95em;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-feature-settings: "kern" 1;
    font-family: var(--font-article);
    --grid-gap: 2em;
    --grid-margin: 4em;
}

main {
    display: grid;
    padding-right: calc(1 * var(--grid-margin));
    padding-left: calc(1 * var(--grid-margin));
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    margin-right: auto;
    max-width: 100em;
}

article {
    grid-column-start: 4;
    grid-column-end: span 6;
    margin-top: 1em;
}

article>*+* {
    margin-top: 0.5em;
}

.neutraface {
    font-family: "Neutraface";
}
