*, :after, :before {
    box-sizing: border-box;
    background-color: inherit;
    font-family: inherit;
    color: inherit;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
}

:root {
    --font-plain: Arial, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, Courier, Courier New, Andale Mono, monospace;
    font-family: var(--font-plain);
}

code {
    font-family: var(--font-monospace);
    font-size: 92.5%;
    letter-spacing: -0.015em;
}
