---
import Layout from "../layouts/Layout.astro";
// import { homePageData } from "../data/homePageData";
// import ArrowUpRight from "../assets/icons/arrow-up-right.svg";
import PegBoard from "../components/pegboard";
---

<Layout>
  <section class="flex justify-center items-center">
    <PegBoard />
  </section>
</Layout>
