---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="slightlybelowzen">
  <main class="grid grid-cols-10 py-4">
    <section class="col-span-2 py-2 px-6"></section>
    <section class="col-span-6 py-10 px-2">
      <p>
        This is where all the work <i class="line-through">I do</i> I am supposed
        to do is going to go.
      </p>
    </section>
    <section class="col-span-2 py-10 px-2"></section>
  </main>
</BaseLayout>
