---
import Layout from "../layouts/Layout.astro";
import PegBoard from "../components/pegboard";
import ArrowUpRight from "../assets/icons/arrow-up-right.svg";
import Quote from "../components/Quote.astro";
---

<Layout>
  <section class="stack">
   <Quote>
      This is a <i>massive massive work in progress</i>. 
      The <code>&lt;PegBoard /&gt;</code> component is supposed be like a real life pegboard with notes, writing
      and projects pinned to it. Check out <a href="https://yannglt.com/">Yann-Edern Gillet <ArrowUpRight class="inline w-4 -ml-1 h-4 mb-1" /></a>'s moodboard for the
      original UI inspiration. It doesn't quite work on mobile yet, and the design is far from where I want it to be. But the fundamental idea of having 
      a personal website as a kind of digital pegboard is something I've been thinking about for a long time.
    </Quote>
    <PegBoard />
  </section>
</Layout>
