---
const date = new Date("2024-12-04").toLocaleDateString("en-GB", {
  month: "long",
  year: "numeric",
});
const title = "Recreating some gorgeous scroll animations"
const category = "Motion Design"
import BlogLayout from "../../layouts/BlogLayout.astro";
import ArrowUpLeft from "../../assets/icons/arrow-up-left.svg";
---

<BlogLayout>
  <div class="flex gap-2 items-center">
    <a href="/" class="text-body-muted hover:text-body no-underline">
      <ArrowUpLeft class="inline w-4 h-4 mb-1" />
    </a>
    <p class="text-sm text-body-muted">{date} / {category}</p>
  </div>
  <h1>{title}</h1>

  <section class="stack">
    <p>
      Sometime this week I was scrolling through Godly's collections of websites (as one does on a day with nothing better to do)
      which is where I stumbled across <a href="https://tatem.com">Tatem</a>.
    </p>
  </section>
</BlogLayout>
