@import "tailwindcss";
@import "fonts.css";

@theme {
  /* all the resets to get rid of unecessary styles loaded by tailwind */
  --color-*: initial;
  --default-font-family-*: initial;
  --animate-*: initial;
  --drop-shadow-*: initial;
  --blur-*: initial;
  --default-*: initial;
  --perspective-*: initial;
  --ease-*: initial;
  --inset-shadow-*: initial;
  --transition-timing-function-*: initial;
  --shadow-*: initial;

  /* new variables */
  --leading-base: 1.4;
  --leading-base-screen-small: 1.5;
  --text-base: 1.025rem;

  --tracking-tight: -0.015em;


  /* fonts */
  --font-body: "Lato", sans-serif;
  --font-heading: "Sunset", serif;
}

@layer base {
  body {
    /* dark color scheme */
    @apply font-body antialiased text-base leading-base bg-[#121212] text-[#f5f5f5] ;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-semibold text-2xl uppercase;
  }
}

@layer components {
  .stack {
    @apply flex flex-col gap-4;
  }
}
